<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:insert="base.html :: headerfiles"></head>
<body>
<header th:insert="base.html :: nav"></header>

<div class="container">
   <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 mt-5 container justify-content-center card">
         <h1 class="text-center">Create your user account</h1>
         <div class="card-body">
            <form th:action="@{/users}" th:object="${user}" method="POST">
               <div class="form-group">
                  <label>First Name</label>
                  <input type="text" name="first_name" th:field="*{participant.firstName}" class="form-control" placeholder="Enter your first name" required>
               </div>
               <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" name="last_name" th:field="*{participant.lastName}" class="form-control" placeholder="Enter your last name" required>
               </div>
               <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="email" th:field="*{participant.email}" class="form-control" placeholder="Enter your email" required>
               </div>
               <div class="form-group">
                  <label>Phone</label>
                  <input type="tel" name="phone" th:field="*{participant.phone}" class="form-control" placeholder="Enter your phone number" required>
               </div>
               <div class="form-group">
                  <label>Username</label>
                  <input type="text" name="username" th:field="*{username}" class="form-control" placeholder="Choose your username" required>
               </div>
               <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" th:field="*{password}" class="form-control" placeholder="Choose your password" required>
               </div>
<!--               <div class="form-group">-->
<!--                  <label>Role</label>-->
<!--                  <input type="text" name="role" th:field="*{role}" class="form-control" placeholder="Enter your role" required>-->
<!--               </div>-->
               <div class="box-footer">
                  <a th:href="@{/}" class="btn btn-light">Cancel</a>
                  <button type="submit" class="btn btn-primary">Submit</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

</body>
</html>