<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:insert="base.html :: headerfiles"></head>
<body>

<header th:insert="base.html :: nav"></header>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 mt-5 container justify-content-center card">
            <h1 class="text-center">Update Workshop</h1>
            <div class="card-body">
                <form th:action="@{/workshops/{id}(id=${workshop.id})}" th:object="${workshop}" method="POST">
                    <div class="form-group">
                        <label>Workshop Title</label>
                        <input type="text" name="title" th:field="*{title}" class="form-control" placeholder="Enter workshop title">
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" name="date" th:field="*{date}" class="form-control" placeholder="Enter workshop date">
                    </div>
                    <div class="form-group">
                        <label>Workshop Duration</label>
                        <input type="text" name="duration" th:field="*{duration}" class="form-control" placeholder="Enter workshop duration">
                    </div>
                    <div class="form-group">
                        <label>Workshop Price</label>
                        <input type="number" name="price" th:field="*{price}" class="form-control" placeholder="Enter workshop price">
                    </div>
                    <div class="form-group">
                        <label for="instructors">Instructor</label>
                        <select th:field="*{instructor}" name="instructors" id="instructors">
                            <th:block th:each = "instructor: ${instructors}">
                                <option value="volvo"  th:value="${instructor.id}" th:text="${instructor.firstName}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>